<ion-app>
    <ion-header>
        <ion-toolbar class="ion-header-bar">
            <ion-tab-button class="icon" tab="map">
            </ion-tab-button>
            <img class="img" src="https://uploaddeimagens.com.br/images/002/295/172/original/Tem-em-Casa-logo.png?1566846408">
        </ion-toolbar>
    </ion-header>

    <ion-content padding>

        <ion-card>
            <ion-card-header>
                <ion-card-title class="center">Novo Mantimento</ion-card-title>
            </ion-card-header>
        </ion-card>

        <ion-item>
            <ion-label position="floating">Mantimento</ion-label>
            <ion-input [(ngModel)]="mantimentos.nome"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Data Validade</ion-label>
            <ion-datetime displayFormat="DD MMM YYYY" max="2050" [(ngModel)]="mantimentos.dataValidade" month-short-names="jan, fev, mar, abr, mar, jun, jul, ago, set, out, nov, dez" placeholder="Selecionar data">
            </ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Unidade de Medida</ion-label>
            <ion-select [(ngModel)]="mantimentos.um">
                <ion-select-option value="g">Grama(s)</ion-select-option>
                <ion-select-option value="L">Litro(s)</ion-select-option>
                <ion-select-option value="UN">Unidade(s)</ion-select-option>
                <ion-select-option value="Kg">Quilograma(s)</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Quantidade</ion-label>
            <ion-input [(ngModel)]="mantimentos.qtde"></ion-input>
        </ion-item>
        <br>
        <button class="mt btn centro-btn" expand="full" color="secondary" (click)="salvarMantimento()">
      Salvar
    </button>

    </ion-content>
</ion-app>