.center{
    text-align: center;
}
.text-custom{ 
    font-family: "custom"; 
}
.icon{
    float: right;
}
.color{
    color: aqua;
}

.text-decoration{
    text-decoration: none;
} 

.img {
    max-width:200px;
    max-height:80px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}