<ion-app>
  <ion-content padding>
    <img class="img" src="https://uploaddeimagens.com.br/images/002/295/172/original/Tem-em-Casa-logo.png?1566846408">

    <h2 class="font">Informe o seu E-mail cadastrado abaixo. Que iremos enviar uma mensagem com instrucões para redefinir a sua senha</h2>
    <ion-item>
      <ion-label position="floating"> E-mail<ion-text color="dark">*</ion-text>
      </ion-label>
      <ion-input required type="text" [(ngModel)]="userEmail"></ion-input>
    </ion-item>


    <br>
    <button class="mt btn centro-btn" expand="full" color="secondary" (click)="reseteSenha()">
      Enviar
    </button>

  </ion-content>
</ion-app>