<ion-app>
  <ion-header>
    <ion-toolbar class="ion-header-bar">
      <ion-tab-button class="icon" tab="map">
      </ion-tab-button>
      <img class="img" src="https://uploaddeimagens.com.br/images/002/295/172/original/Tem-em-Casa-logo.png?1566846408">
    </ion-toolbar>
  </ion-header>

  <ion-content padding>

    <ion-label class="center font">*OBS: Lembre-se de separar os alimentos por virgula.</ion-label>
    <ion-searchbar placeholder="Buscar receita..." showCancelButton="never"></ion-searchbar>

    <h1 class="center">Bem-Vindo!</h1>
    <ion-tabs color="secondary">
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/cadastrar-estoque" tab="schedule">
          <ion-icon  name="add-circle-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button routerLink="/estoque" tab="speakers">
          <ion-icon  name="cube"></ion-icon>
          <ion-label>Estoque</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/tipos" tab="map">
          <ion-icon  name="restaurant"></ion-icon>
          <ion-label>Receitas</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/receitas" tab="about">
          <ion-icon  name="information-circle"></ion-icon>
          <ion-label>Sobre</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</ion-app>